<!DOCTYPE html>
<html style="width:500px; margin:0 auto;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>COV-19 Personal Risk Evaluator</title>
</head>
<body>
<div>
    <H1 ALIGN="center">COV-19 Personal Risk Evaluator</H1>
</div>
<div>
    <form name="form_join_game" method="get" action="/tinklink">
        <table border="0">
            <tbody>
                <tr>
                    <td>Are you ready?</td>
                    <td>
                        <input type="submit" value="Start!">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>